{% extends 'frame.html' %}

{% block content %}

<div class="banner container-fluid">
    <div class="row not-nav-height">
        <div class="col-sm d-flex flex-column">
            <div class="mx-auto my-auto">
                <h1 class="samara-home"><b>S</b>oftware<br><b>A</b>nd<br><b>M</b>odelling<br><b>A</b>ggregating<br><b>R</b>esearch<br><b>A</b>ssistant</h1>
                <p><b><i>A Cellucoat Project</i></b></p>
            </div>
        </div>
        <div class="col-sm d-flex flex-column">
            <div class="d-grid gap-4 col-6 homepage-button my-auto">
                <a type="button" href="{% url 'software:software_list' %}" class="btn btn-outline-light"><b>Explore Software</b></a>
                <a type="button" href="{% url 'model:model_list' %}" class="btn btn-outline-light"><b>Explore Modelling</b></a>
            </div>
            
        </div>
    </div>
</div>

<!-- <div id="maincontent">
</div> -->
{% endblock %}